<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeController.Properties.Settings>
            <setting name="SemesterWeeks" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="SemesterStartDate" serializeAs="String">
                <value>2025-06-23</value>
            </setting>
        </TimeController.Properties.Settings>
    </userSettings>
</configuration>